# build/run artifacts
out/
out_*/
out_*
result
result-*

# bazel
bazel-*
/.bazel/

# python
__pycache__/
*.pyc

# nix/direnv
.direnv/

# mlir compiler build
compiler/build/

# rust runtime
runtime_rs/target/
runtime_rs/*.png
runtime_rs/Cargo.lock
